.info-places {

  &__wrapper {
    lost-flex-container: row;
    justify-content: center;
  }

  &__item {
    lost-waffle: 6/12 2 10px;

    &-text {
      display: none;
    }

    &:last-child {
      lost-waffle: 12/12;
    }

    &-image {
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.38);
      border: 2px solid #e2e2e2;
      height: 166px;
      background-size: cover;
      background-position: center;

      &:hover {
        @include image-hover-effect();
      }

      &--palace {
        background-image: url("../img/places-palace.png");
      }

      &--forest {
        background-image: url("../img/places-forest.png");
      }

      &--weight {
        background-image: url("../img/places-weight.png");
      }

      &--train {
        background-image: url("../img/places-train.png");
      }

      &--laggage {
        background-image: url("../img/places-laggage.png");
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 5%;
    min-height: 700px;
    position: relative;

    &-image {
      box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.38);
    }


    &__wrapper {
      padding-right: 5%;

      &-background {
        width: 100%;
        height: 100%;
        background-color: $navy;
        position: absolute;
        z-index: -1;
        top: 2%;
        left: 0;
      }
    }
    &__item {
      lost-waffle: 6/12 2 20px;

      &-text {
        font-size: 1.8vw;
        line-height: 1.8vw;
        color: $white;
        display: block;
      }
    }
  }


  @media (min-width: $desktop-width) {
    background-color: transparent;
    &__wrapper {
      padding-top: 0;

      &-background {
        top: 10%;
        height: 90%;
      }
    }

    &__item {
      lost-waffle: 6/12 2 50px;

      &-text {
        font-size: 16px;
      }
    }
  }
}