.info-places {

  &__wrapper {
    lost-flex-container: row;
    justify-content: center;
  }

  &__item {
    lost-waffle: 6/12 2 10px;

    &-text {
      display: none;
    }

    &:last-child {
      lost-waffle: 12/12;
    }

    &-image {
      height: 166px;
      background-size: cover;
      background-position: center;

      &:hover {
        @include image-hover-effect();
      }

      &--palace {
        background-image: url("../img/places-palace.png");
      }

      &--forest {
        background-image: url("../img/places-forest.png");
      }

      &--weight {
        background-image: url("../img/places-weight.png");
      }

      &--train {
        background-image: url("../img/places-train.png");
      }

      &--laggage {
        background-image: url("../img/places-laggage.png");
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 5%;
    background-color: $navy;

    &__wrapper {
      padding-top: 5%;
      padding-right: 5%;
    }
    &__item {
      lost-waffle: 6/12 2 20px;

      &-text {
        font-size: 1.8vw;
        line-height: 1.8vw;
        color: $white;
        display: block;
      }
    }
  }
}