body {
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif;
  color: $black;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  background-color: $white;
  @media (min-width: $tablet-width) {
    background-image: url("../img/background-tablet.png");
    background-repeat: no-repeat;
    background-color: $white;
    background-size: 98% auto;
  }

  @media (min-width: $desktop-width) {
    background-size: 99% auto;
  }
}

.container {
  //width: $tablet-width;
  margin: 0 auto;
  font-size: $mobile-font-size;

  @media (min-width: $break-point-450) {
    font-size: 4vw;
    line-height: 4vw;
  }

  @media (min-width: $break-point-615) {
    font-size: 3.5vw;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 2vw;
    line-height: 2vw;
  }
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (min-width: 1400px) {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input::-ms-clear {
  display: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

input:-ms-input-placeholder {
  color: #c7c7c7;
}
